.cloud {
    .grid {
        grid-template-columns: 4fr 3fr;
    }

    @include mq-manager(tablet) {
        height: auto;

        .grid {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
    }
}
