.languages {
    margin-bottom: 50px;
    .card {
        text-align: center;
        margin: 18px 10px 40px;
    }
    .flex {
        flex-wrap: wrap;
    }
    .card {
        transition: transform 0.2s ease-in;

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        &:hover {
            transform: translateY(-15px);
        }
    }
}
